/*
⦁	<body>
⦁	Margin: 0px;
⦁	Padding: 0px;
⦁	Background Color: #CCCCCC;
⦁	<nav> tag as container
⦁	<ul> tag for unordered list
⦁	Background Color: #444;
⦁	Center the text
⦁	Padding: 0px;
⦁	Margin: 0px;
⦁	list-style:none;
⦁	<li> tag for list item
⦁	Text size: 24px;
⦁	Line Height: 40px;
⦁	Height: 40px;
⦁	Padding: 20px;
⦁	<a> tag for hyperlink
⦁	text-decoration: none;
⦁	Text-Color: #ffffff;
*/
body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}
ul{
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}