header{
    width: 100%;
    background-color: #F3F4F6;
}

header .content{
    display: inline-block;
    width: 400px;
    margin-left: 15%;
    font-size: 16px;
    margin-right: 100px;
}

header.image{
    width: 622px;
    height: 830px;
    opacity: 1;
}

header h2{
    margin: 0;
    color: #261447;
    font-size: 95px;
}

header .content div{
    display: inline-block;
}

header .red-btn{
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fc3d65;
    color: white;
    border: none;
    font-size: 14px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

header .green-underline{
    text-decoration: underline 25px #66F6B1;
    text-decoration-skip-ink: none;
    text-underline-offset: -29px;
}

header .gray-underline{
    text-decoration: underline 30px rgb(229, 229, 229);
    text-decoration-skip-ink: none;
    text-underline-offset: -30px;
    color: #fc3d65;
}

header .red-btn i{
    float: right;
}

header .black-btn{
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 14px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

header .red-btn .fa-solid{
    display: inline-block;
    margin-left: 15px;
}

header .red-btn{
    margin-right: 15px;
} 
.diff-between-image{
    height: 220px;
    width: 400px;
}