@font-face {
    font-family: Monrope;
    src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
}

*{
    font-family: Monrope;
}

body {
    margin: 0px;
}

nav {
    position: fixed;
    height: 83px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Monrope, sans-serif;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

h1,
.right-menu,
.page {
    position: relative;
    top: 30%;
    display: inline-block;
}

nav a {
    text-decoration: none;
}

nav button {
    border-radius: 5px;
    background-color: #fc3d65;
    color: white;
    border: none;
    font-size: 14px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.right-menu {
    float: right;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 32px;
    left: 5%;
    margin: 0;
}

h1 a {
    color: #fc3d65;
}

.page a {
    color: #555a7a;
    font-size: 16px;
}

.page {
    margin-right: 24px;
}

.menu-height{
    height: 89px;
}

.advantages{
    width: 100%;
    height:891px;
    background-color: #261447;
    color: white;
}

.often-questions{
    width: 100%;
    text-align: center;
}

.often-questions .container{
    margin-left: 30%;
    width: 40%;
}
.often-questions .container li p{
    text-align: left;
}
.often-questions .container li{
    width: 100%;
    text-align: left;
}
.often-questions .container li button{
    float: right;
}
footer {
    margin-top: 50px;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

footer h2 {
    color: #fc3d65;
    font-size: 60px;
    margin: 0;
    margin-bottom: 16px;
}

.rights {
    float: right;
}
.about {
    text-align: right;
    margin-top: -80px;
    margin-bottom: 64px;
}

.created-by,
.rights {
    display: inline-block;
}

footer .fa-brands{
    color: white;
}
.social-media{
    font-size: 12px;
}

.footer-icon{
    display: inline-block;
    padding: 3px;
    border-radius: 100%;
    background-color: #fc3d65;
    width: 15px;
    text-align: center;
}

footer h3{
    font-size: 24px;
    color: #555a7a;
    font-weight: normal;
}

.about p{
    font-size: 12px;
}

.copy-rights{
    font-size: 16px;
    margin-bottom: 100px;
}